@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: rgb(138, 138, 138);
}

header > h1{
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    text-align: center;

    flex-flow: column nowrap;
    justify-content: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}


li{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 9px 13px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s;
}

li:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

main{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    padding: 10px;
    width: 400px;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}