@charset 'utf-8';

/** dispositivo deitado (paisagem) */

html,body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/cev-landscape.jpg);
    background-position: center bottom;
}